{% extends "model.html" %} {% block style%}
<style>
  /* #lname {
    position: fixed;
  } */
  input[type="submit"] {
    /* top: 200px; */
    /* position: fixed; */
    padding: 10px;
    float: right;
    background-color: #23DAF3;
    color: black;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
  }
  .para {
    justify-content: flex-end;
    margin: 30px 0;
  }
  #chat {
    width: 30%;
    margin-left: 60px;
    background-color: #ccc;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
  }
  .chat_box {
    position: relative;
    font-weight: 800;
  }
  .chat_box::after {
    position: absolute;
    content: attr(data-name);
    border-radius: 10px;
  }
  .para::after {
    top: -40px;
    right: -50px;
    background-color: #166ff0;
    padding: 10px;
    color: white;
  }
  .user::after {
    top: -40px;
    left: -60px;
    background-color: antiquewhite;
    padding: 10px;
    color: black;
  }
  .question_center {
    padding: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  #question_message {
    align-self: flex-end;
  }
  #lname{
    width: 500px;
    height: fit-content;
    background-color: #394249;
    color: white;
    border: 2px solid white;
    overflow-y:auto;
    height: 200px;
  }
  #lname:focus{
    border: 2px solid white;
  }
  @media screen and (max-width: 1200px) {
    .question_center {
      flex-direction: column;
    }
    #question_message {
      position: relative;
      margin: auto;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    #chat {
      margin-left: auto;
      margin: auto;
    }
    #lname{
      width: auto;
    }
    input[type="submit"]{
      align-self:flex-end;
    }
  }
</style>
{% endblock %} {% block content%}
<div class="question_center">
  <!-- <div id="conn_status" style="display: none">
    <span class="dot">
      <p>已連線</p>
    </span>
  </div> -->

  <div id="chat"></div>
  <div id="question_message">
    <blockquote type="text" id="lname" contenteditable="true">
    </blockquote>
    <br />
    <br />
    <input
      type="submit"
      value="送出"
      onclick="sendText(document.getElementById('lname').innerHTML)"
    />
  </div>
</div>
{% endblock %} {% block script %}
<script>
  var ws;
  document.getElementById("lname").focus()
  function myFunction() {
    ws = new WebSocket("ws://"+"{{host}}"+"//actions");

    ws.onopen = function () {
      //   console.log("ok");
      //   document.getElementById("conn_status").style.display = "flex";
      ws.send(JSON.stringify({"ok":"socket open"}));
    };

    ws.onclose = function (evt) {
      //   document.getElementById("conn_status").style.display = "none";
    };

    ws.onmessage = function (evt) {
      console.log(evt)
      var para = document.createElement("p");
      para.style.display = "flex";
      para.innerHTML = evt.data;
      para.dataset.name = "客服";
      para.classList.add("para");
      para.classList.add("chat_box");
      document.getElementById("chat").appendChild(para);
      window.scrollTo(0, document.body.scrollHeight);
      console.log(document.body.scrollHeight);
    };
  }

  myFunction();

  function sendText(text) {
    var para = document.createElement("div");
    para.innerHTML = text
    para.classList.add("user");
    para.classList.add("chat_box");
    para.dataset.name = "使用者";
    document.getElementById("chat").appendChild(para);
    ws.send(JSON.stringify({"ok":text}));
    document.getElementById('lname').innerHTML = ""
  }
</script>
{% endblock %}
