{% extends "model.html" %} {% block style%}
<link rel="stylesheet" href="../static/css/question.css">
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script
  src="https://unpkg.com/react@17/umd/react.development.js"
  crossorigin
></script>
<script
  src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
  crossorigin
></script>
{% endblock %} {% block content%}
<div class="question_center">
  <!-- <div id="conn_status" style="display: none">
    <span class="dot">
      <p>已連線</p>
    </span>
  </div> -->

  <div id="chat">
      <div id="header_title">
        <p id="main_title">台北一日遊客服</p>
      </div>
      <div id="main_chat">

      </div>
  </div>
  <div id="question_message">
    <blockquote type="text" id="lname" contenteditable="true">
    </blockquote>
    <br />
    <br />
    <input
      type="submit"
      value="送出"
      onclick="sendText(document.getElementById('lname').innerHTML)"
    />
  </div>
</div>
{% endblock %} {% block script %}
<script>
  let host = '{{host}}'
</script>
<script src="../static/js/question.js"></script>
<script type="text/babel">
  let MutationObserver = window.MutationObserver
  let config = { 
    attributes: true,
    childList: true, 
    characterData: true, 
    subtree: true
 };
  let DocumentObserver = new MutationObserver(function(){
    console.log("有變化")
    let content = document.getElementsByClassName("root")
    let messgae_root = document.getElementsByClassName("messgae_root")
    if(content.length>0){
      let len = content.length
      ReactDOM.render(<Mention />,content[len-1]);
    }
    if(messgae_root.length>0){
      let len_mes = messgae_root.length
      ReactDOM.render(<Message />,messgae_root[len_mes-1])
    }
  }) 
  DocumentObserver.observe(document.getElementById("main_chat"),config);
</script>
<script src="../static/js/refund.js" type="text/babel"></script>
<script src="../static/js/message.js" type="text/babel"></script>
{% endblock %}