<head>
    <style>
        .member_board{
            display: flex;
        }
        img{
            width: 60%;
            border-radius: 10px;
            margin-right: 10px;
        }
        #member_response > div{
            text-align: left;
            margin: 20px 0;
            color: #495057;
        }
        #member_response i{
            color:teal;
        }
    </style>
</head>
<body>
    <div class="member_board">
        <img src="../static/pexels-chriz-luminario-2928796.jpg" alt="">
        <div id="member_response">
            <div>歡迎你加入台北一日遊的行列!!</div>
            <div>我們的會員有以下功能：</div>
            <div><i class="far fa-flag"></i> 可用google、FB登入使用所有服務</div>
            <div><i class="far fa-flag"></i> 多項景點選擇並由導遊安排一日遊行程</div>
            <div><i class="far fa-flag"></i> 會員中心可看留言紀錄、訂單紀錄、以及收藏景點</div>
            <div><i class="far fa-flag"></i> 三天前email行程通知貼心提醒</div>
        </div>
    </div>
</body>