<head>
    <style>
        .order_board > div{
            background-color:white;
            margin: 10 0px;
            border-radius: 20px;
            text-align: center;
            padding: 10px;
            white-space:nowrap;
            border: 3px solid #ECF2EC;
        }
        .response{
            margin: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
    <p class="response">找到相關答案囉，若不是你想問的，可以換個問法試試</p>
    <div class="order_board">
        <div>
            如想查詢歷史訂單，請先登入並進入<a href="https://www.taipei-attraction.com/" target="_blank">會員中心</a>
        </div>
        <div>
            行程前三天系統會自動寄email通知，登入時也會一併在小鈴鐺通知
        </div>
        <div>
            行程當天導遊如有緊急狀況會以電話聯絡，請隨時保持手機暢通
        </div>
    </div>
</body>